body {
	margin: 0 auto;
	border-top-style: none;
	background-color: white;
	font-family: halyard-display;
	color: #021629;
}

h1 {
	font-size: 82px;
	margin: 50px 150px 15px 150px;
	font-weight: 400;
	font-style: normal;
}

h2 {
	font-size: 72px;
	padding: 70px 30px 0px 40px;
	font-family: halyard-display;
	text-align: right;
}

h3 {
	font-size: 72px;
	padding: 60px 40px 0px 0px;
	font-family: halyard-display;
	text-align: left;
}

h4 {
	text-align: center;
	padding: 0px 340px 15px 340px;
	font-size: 25px;
}

h5 {
	font-size: 20px;
	padding: 0px 30px 14px 150px;
	font-family: halyard-display;
	text-align: right;
}

h6 {
	font-size: 20px;
	padding: 0px 150px 14px 0px;
	font-family: halyard-display;
	text-align: left;
}

p1 {
	font-size: 18px;
	font-family: halyard-display;
	text-align: right;
	padding-left: 500px;
	padding-bottom: 700px;
}

#title {
	text-align: center;
}

.row {
	padding: 36px 0px;
}
.column {
  float: left;
  padding: 10px;
  padding-top: 130px;
}

.left {
  width: 45%;
}

.right {
  width: 55%;
}

#hardware {
	width: 70%;
}

.left2 {
  width: 60%;
  padding-right: 95px;
}

#team {
	width: 75%;
}

.right2 {
  width: 40%;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

img {
	width: 100%;
}

#logo {
	width: 22%;
	padding: 0px 15px;
}

#contact {
	margin: 70px 100px;
	padding: 0px 85px;
}

.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-google {
  background: #dd4b39;
  color: white;
}

.fa-twitter {
  background: #55acee;
  color: white;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}

/*
.button {
	align-content: center;
	font-size: 35px;
	padding: 10px 22px;
	border-radius: 8px;
	border: none;
	-webkit-transition-duration: 0.4s;
	transition-duration: 0.4s;
	margin-top: 20px;
	margin-bottom: 50px;
	background-color: #81CFE0;
=======
#biglogo {
	text-align: center;
	width: 25%;
>>>>>>> d7136816011c81dafb956b9c26dd2b07eec1da95
}

.button:hover {
	background-color: #446CB3;
}*/
